#room {
    height: 15vh;
    width: 100vw;
}

#editor {
    height: 80vh;
    width: 20vw;
    float: left;
}

#reveal {
    height: 80vh;
    width: 75vw;
    float: right;
}

#slides {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }